<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SMIRestAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SMIRestAPI.SocialMediaImpl" behaviorConfiguration="serviceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="SMIRestAPI.ISocialMediaImpl" behaviorConfiguration="web">
          
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <!--Google Settings-->
    <add key="GoogleAPIKey" value="AIzaSyDfNJfYRM68bj_jRKnD1utAqBaVTrV2WSk"/>
    <add key="GoogleConsumerKey" value="176773884700.apps.googleusercontent.com"/>
    <add key="GoogleConsumerSecret" value="8jt3rpolxzBwu489fcNGCcR-"/>
    <add key="GoogleRequestTokenUrl" value="https://www.google.com/accounts/OAuthGetRequestToken?scope=http://www-opensocial.googleusercontent.com/api/people/"/>
    <add key="GoogleVerifierUrl" value="https://www.google.com/accounts/OAuthAuthorizeToken"/>
    <add key="GoogleRequestAccessTokenUrl" value="https://www.google.com/accounts/OAuthGetAccessToken"/>
    <add key="GoogleRequestProfileUrl" value="http://www-opensocial.googleusercontent.com/api/people/@me/@self"/>
    <add key="GoogleScope" value="http://www-opensocial.googleusercontent.com/api/people/ https://www.googleapis.com/auth/userinfo#email"/>
    <add key="GoogleUserProfileUrl" value="https://www.googleapis.com/plus/v1/people/{0}?key={1}"/>
    <add key="GoogleUserSearchUrl" value="https://www.googleapis.com/plus/v1/people?query={0}&amp;key={1}"/>

    <!--Twitter Settings-->
    <add key="TwitterConsumerKey" value="riE6xXJ59m9DRipNsM6w"/>
    <add key="TwitterConsumerSecret" value="S808LWKAoNK5YsfM63LGsUwBo4aWOpmyh0aUpnePzc"/>
    <add key="TwitterRequestTokenUrl" value="http://twitter.com/oauth/request_token"/>
    <add key="TwitterVerifierUrl" value="http://api.twitter.com/oauth/authorize"/>
    <add key="TwitterRequestAccessTokenUrl" value="https://api.twitter.com/oauth/access_token"/>
    <add key="TwitterRequestProfileUrl" value="http://api.twitter.com/1/users/show.json"/>
    <add key="TwitterScope" value=""/>

    <!--Facebook Settings-->
    <add key="FacebookConsumerKey" value="257652991012226"/>
    <add key="FacebookConsumerSecret" value="3acf2e51cc7dc1ef4245a46e665e7ea4"/>
    <add key="FacebookVerifierUrl" value="https://graph.facebook.com/oauth/authorize?client_id={0}&amp;redirect_uri={1}&amp;scope={2}"/>
    <add key="FacebookRequestAccessTokenUrl" value="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"/>
    <add key="FacebookRequestProfileUrl" value="https://graph.facebook.com/me"/>
    <add key="FacebookScope" value="publish_stream,read_stream,email,offline_access"/>

    <!--General Settings-->
    <add key="CallbackUrl" value="http://localhost:8080/ConsumerWeb/"/>
  </appSettings>
</configuration>
